@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {
    --font-display: "Syne", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #ff9324;
}

body {
    font-family: "Syne", sans-serif;
    background-color: #fcfbfc;
    letter-spacing: -0.02em;
}

.num{
     font-family: "Karla", sans-serif;
}